layout {

    focus-ring {
        active-color   "#c3c6d6"
        inactive-color "#131315"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#c3c6d6"
        inactive-color "#131315"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#c3c6d6"
        inactive-color "#434654"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#c3c6d680"
    }
}
